@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
img {
    border-color: rgb(255, 255, 255);
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    margin: 100px 100px 100px 100px;

}

th {
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    border-width: 5px;
    border-style: solid;
    background-color: rgb(255, 255, 255);
    
}

td {
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
    border-width: 5px;
    border-style: solid;
    background-color:rgba(112, 2, 2, 0.82);
}

a {
    color: rgb(255, 255, 255);
    font-size: larger;
    font-family: 'Dancing Script', sans-serif;
}

ul {
    border-color: rgb(0, 0, 0);
    border-width: 5px;
    border-style: solid;
}

table {
    border-color: rgba(112, 2, 2, 0.82);
    border-width: 5px;
    border-style: solid;
    
    
}
div{
    border-color: rgb(0, 0, 0);
    border-width: 5px;
    border-style: solid;
    background-color: rgba(112, 2, 2, 0.82);
}

header{
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 20px;
    width: 1500px;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: red;
    position: fixed;
    z-index: 1;
    top: 0;
}
.header{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    border-width: 0px;
}
.img_class{
    width: 150px;
    height: 150px;
    margin: 0px;

}
